@import "variables";

// wide logo height: 62px
// acg
// review center
// logo_european_business_awards_winner_2019
// logo_insurance_awards_2019_commended
// logo_ecommerce_awards_winner_2019

// square logo height: 101px
// 1000 companies
// ica awards
// logo_ones_to_watch_2019
// logo_disruption50
// logo_insurance_times_champion
// logo_insurance_times_tech_silver
// 

.logo-item p {
font-size: 16px;
line-height: 26px;
}

.logo-carousel{
    display: block;
    //height: 165px;
    
    a:hover:before, 
    a:focus:before {
        visibility: hidden;
    }

    img {
        margin: auto;
        height: 90px;
        width: auto;
        max-width: none;
        max-height: none;
    }

    p {
        padding: 15px 0;
        font-weight: bold;
    }

    .item{
        height: 210px;

        img.img-responsive{
            max-height: 100px;
        }
    }

    .carousel-control.right, 
    .carousel-control.left {
        background-image: none;
    }

    .glyphicon-chevron-right, 
    .glyphicon-chevron-left {
        color: $c-orange;
    }

    .carousel-indicators {
        bottom: -20px;

        .active {
            background-color: $c-orange
        }

        li {
            border: 1px solid $c-orange
        }
    }

    .carousel-control{
        img{
            height: auto;
        }
    }
}

#myCarousel.logo-carousel{
    img{
        width: auto;
        height: 70px;
        margin: 0px auto;
    }   


    img.logo-wide{
        width: 75%;
        height: auto;
    }

    // square
    img.logo-wide-a{
        height: 61px;
        width: auto;
        margin: 20px auto;
    }

    // acq
    img.logo-wide-b{
        height: 67px;
        width: auto;
        margin: 17px auto;
    }

    img.logo-square{
        height: 101px;
        width: auto;
        margin: 0px auto;
    }
}

@media (min-width: 768px){
    #myCarousel2.logo-carousel{
        img.logo-wide-b{
            height: 47px;
            width: auto;
            margin: 27px auto;
        } 
    }
}

    

// 
@media (min-width: 991px){

    .carousel-inner{
        height: 240px;
    }

    #myCarousel2{
        width: 90%;
        margin: 0 auto;
        img{
            width: auto;
            height: 70px;
            margin: 0px auto;
        }   
    
        &.logo-carousel{
            .logo-item{
                padding:0;
            }
            p{
                padding: 15px 10px;
            }
            img.logo-wide{
                width: 75%;
                height: auto;
            }
        
            // square
            img.logo-wide-a{
                height: 61px;
                width: auto;
                margin: 20px auto;
            }
        
            // acq

        
            img.logo-square{
                height: 101px;
                width: auto;
                margin: 0px auto;
            }
        }
    
       
    }
   
    .carousel-control{
        width: auto;
        
    }

    .carousel-control.right{
        right: -40px;
    }
    .carousel-control.left{
        left: -40px;
    }
    
}

@media (min-width: 1200px){
    #myCarousel2.logo-carousel{
        img{
            width: auto;
            height: 90px;
            margin: 0px auto;
        }   
        img.logo-wide-b{
            height: 67px;
            width: auto;
            margin: 17px auto;
        }
    
        img.logo-wide{
            width: auto;
            height: 70px;
            margin: 10px auto;
        }
    }
}

