
.hdr-terms-main {
    font-size: @px16;
    text-transform: none;
    font-weight: normal;
    font-family: @sansSerif;
    margin-bottom: @px5;

    > a {
        display: block;
    }
}

.hdr-terms-sub {
    font-size: @px18;
    border-bottom: 1px dotted @offWhite;
    padding-bottom: @px5;
    font-weight: bold;
}

.term-container {
    padding: @px10 0;
    font-size: @px14;
    display: none;
}

.term-header {
    > h1 {
        float: left;
    }
}

.term-close {
    font-family: @neueHeavy;
    margin: @px10 0;
    clear: both;
}

.term-loading {
    background: url("@{imgPath}ajax-loader.gif") no-repeat center center;
}

.is-term-visible {
    display: block;
}

.term-content {
    ul {
        margin: @px16 0;
        list-style-type: disc;
        margin-left: 1em;
    }

    li {
        margin-bottom: @px5;
    }
}

@media only screen and (min-width: @tabletSmall) {
    
    .term-close {
        float: right;
        clear: none;
    }
    
}

@media only screen and (min-width: @desktop) {

    .term {
        display: inline-block;
        margin-left: @px25;
        position: relative;
    }
    
    .term-header {
        margin-bottom: @px25;
        border-bottom: 1px solid @termsBdr;
        
        > h1 {
            font-size: 30px;
            line-height: 40px;
        }
    }

    .is-term-visible {
        &.term-container {
            position: absolute;
            bottom: 48px;
            right: -78px;
            width: 800px;
            background-color: @darkBlue;
            padding: @px20;
            .border-radius(5px);
            .box-shadow(1px 1px 4px rgba(0,0,0,.5));
            font-size: @px16;
        }

        .term-content {
            max-height: 400px;
            overflow: auto;
        }
    }

    .active {
        &:after {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #162C41;
            position: absolute;
            top: -32px;
            left: 25%;
            z-index: 102;
        }
    }

}
