// Footer
// -----------------------------------------------------------------
.site-footer {
    color: @white;
    background-color: @darkBlue;
    border-top: 3px solid darken(@darkBlue, 5%);
    padding: @px10;

    .copyright {
        margin: 0 0 @px10;
    }

    a {
        color: @offWhite;
    }

    ul {
        margin: 1em 0;
        list-style-type: disc;
        margin-left: 1em;
    }

    li {
        margin-bottom: @px5;
    }
}

@media only screen and (min-width: @desktop) {

    .site-footer {
        font-size: @px12;
        padding-bottom: @px5;

        .copyright {
            float: left;
        }

        .footer-links {
            float: right;

            > .term {
                display: inline-block;
                margin-left: @px25;
            }
        }
    }

}
