// Layout
// -----------------------------------------------------------------
.content {
    padding: @px10;
    background-color: @contentBg;
    margin: 0 @px10 @px20;
    border: 8px solid @white;
    .cf;
}

.page {
    padding-top: @px60;
}

.content-media {
    display: none;
}

.img {
    .square(285px);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    &.img-01 {
        background-image: url("@{imgPath}01.png");
    }

    &.img-02 {
        background-image: url("@{imgPath}02.png");
    }

    &.img-03 {
        background-image: url("@{imgPath}03.png");
    }

    &.img-04 {
        background-image: url("@{imgPath}04.png");
    }

    &.img-05 {
        background-image: url("@{imgPath}05.png");
    }

    &.img-06 {
        background-image: url("@{imgPath}06.png");
    }
}

@media only screen and (min-width: @tablet) {

    .content-wrap {
        float: left;
        width: 55%;
    }

    .content-media {
        display: block;
        float: right;
        margin-top: (@px40 + @px6);
    }
    
    .page {
        padding-top: (@px60 + @px20);
    }

}

@media only screen and (min-width: @tabletSmall) {

    .page {
        padding-top: (@px60 + @px40);
    }

}

@media only screen and (min-width: @tablet) {

    .page {
        padding-top: (@px60 + @px20);
    }

}

@media only screen and (min-width: @desktopSmall) {

    .content-wrap {
        width: 64%;
    }

}

@media only screen and (min-width: @desktop) {

    .content-media > .img {
        display: none;
    }
    
    .fixed-width {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        background: url("@{imgPath}skyline-full.jpg") center bottom no-repeat fixed;
        background-size: contain;
    }

}

@media only screen and (min-width: 2000px) {

    .container {
        background-size: 80%;
    }

}
