// Layout
// -----------------------------------------------------------------
.content {
    padding: @px10;
    background-color: @contentBg;
    margin: 0 @px10 @px20;
    border: 8px solid @white;
}
