.visible-phone {
  display: block;
}
.visible-tablet {
  display: none;
}
.visible-desktop {
  display: none;
}
.hidden-phone {
  display: none;
}
.hidden-tablet {
  display: block;
}
.hidden-desktop {
  display: block;
}
@media all and (min-width: 46.875em) {
  .visible-phone {
    display: none;
  }
  .visible-tablet {
    display: block;
  }
  .hidden-phone {
    display: block;
  }
  .hidden-tablet {
    display: none;
  }
}
@media all and (min-width: 56.25em) {
  .visible-tablet {
    display: none;
  }
  .visible-desktop {
    display: block;
  }
  .hidden-tablet {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus,
.visible {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Removes default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
}
/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  font-family: "HelveticaNeueW01-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #66737f;
  -webkit-font-smoothing: antialiased;
}
p,
li,
dd,
dt {
  line-height: 1.4;
}
dl,
dd,
menu,
ol,
ul {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
menu,
ol,
ul {
  padding: 0;
}
a {
  color: #e54125;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  color: #ed7d69;
  text-decoration: underline;
}
.page {
  padding-top: 3.75em;
}
.mr10 {
  margin-right: 0.625em;
}
@media only screen and (min-width: 46.875em) {
  .page {
    padding-top: 5em;
  }
}
@media only screen and (min-width: 37.5em) {
  .page {
    padding-top: 6.25em;
  }
}
@media only screen and (min-width: 46.875em) {
  .page {
    padding-top: 5em;
  }
}
@media only screen and (min-width: 78.125em) {
  .fixed-width {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    background: url("../images/skyline-full.jpg") center bottom no-repeat fixed;
    background-size: contain;
    padding-bottom: 1px;
  }
}
@media only screen and (min-width: 2000px) {
  .container {
    background-size: 80%;
  }
}
.site-header {
  background-color: #162c41;
  padding-top: 0.625em;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.4);
}
.site-title {
  margin-left: 0.3125em;
  margin-bottom: 0.3125em;
  width: 124px;
  height: 36px;
}
.site-title > a {
  background: url("../images/site-logo.png") no-repeat 0 0;
  display: block;
}
@media only screen and (min-width: 46.875em) {
  .site-title {
    float: left;
  }
  .site-header {
    padding: 1.25em 0;
  }
}
.site-footer {
  color: #ffffff;
  background-color: #162c41;
  border-top: 3px solid #101f2e;
  padding: 0.625em;
}
.site-footer .copyright {
  margin: 0 0 0.625em;
}
.site-footer a {
  color: #f1f1f1;
}
@media only screen and (min-width: 78.125em) {
  .site-footer {
    font-size: 0.75em;
    padding-bottom: 0.3125em;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .site-footer .fixed-width {
    position: relative;
  }
  .site-footer .copyright {
    float: left;
  }
  .site-footer .footer-links {
    float: right;
  }
}
h1 {
  font-family: "HelveticaNeueW01-85Heav", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.hdr-main {
  border-bottom: 1px solid #7E8993;
  color: #162c41;
  padding-bottom: 0.3125em;
  margin-bottom: 0.3125em;
  font-weight: normal;
}
.hdr-lrg {
  font-size: 1.75em;
  margin-bottom: 0.1875em;
}
.hdr-sub,
.hdr-sub-main {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.125em;
}
.hdr-small {
  font-size: 0.875em;
  font-weight: normal;
}
.hdr-bottom-spacing {
  margin-bottom: 0.9375em;
}
@media only screen and (min-width: 46.875em) {
  .hdr-lrg {
    font-size: 3.125em;
    border-bottom: 1px solid #999999;
    padding-bottom: 0.3125em;
    -webkit-text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  }
  .hdr-sub-main {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 78.125em) {
  .hdr-lrg {
    font-size: 4.375em;
    line-height: 60px;
  }
  .hdr-sub-main {
    font-weight: 200;
  }
  .hdr-main {
    font-size: 3em;
    line-height: 40px;
  }
}
.content {
  padding: 0.625em;
  background-color: #e6e6e6;
  margin: 0 0.625em 1.25em;
  border: 8px solid #ffffff;
  *zoom: 1;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content-media {
  display: none;
}
@media only screen and (min-width: 46.875em) and (max-width: 78.125em) {
  .img {
    width: 285px;
    height: 285px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .img.img-01 {
    background-image: url("../images/01.png");
  }
  .img.img-02 {
    background-image: url("../images/02.png");
  }
  .img.img-03 {
    background-image: url("../images/03.png");
  }
  .img.img-04 {
    background-image: url("../images/04.png");
  }
  .img.img-05 {
    background-image: url("../images/05.png");
  }
  .img.img-06 {
    background-image: url("../images/06.png");
  }
}
@media only screen and (min-width: 46.875em) {
  .content-wrap {
    float: left;
    width: 55%;
  }
  .content-media {
    display: block;
    float: right;
    margin-top: 2.875em;
  }
}
@media only screen and (min-width: 56.25em) {
  .content-wrap {
    width: 64%;
  }
}
@media only screen and (min-width: 78.125em) {
  .content {
    border: none;
    padding: 0;
    margin: 0;
  }
  .content > .fixed-width {
    position: relative;
  }
  .content-wrap {
    width: 490px;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .content-wrap p,
  .content-wrap dl,
  .content-wrap ul {
    font-size: 0.8125em;
  }
  .img {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .hdr-main span {
    display: block;
    width: 200px;
  }
  #what-we-do {
    background: url("../images/section-type-two-short.png") center 0 no-repeat;
  }
  #what-we-do > .fixed-width {
    height: 655px;
  }
  #what-we-do .img {
    background-image: url("../images/img-whatwedo.png");
    width: 683px;
    height: 483px;
    right: -186px;
    bottom: 83px;
  }
  #our-values {
    background: url("../images/section-type-one.png") center 0 no-repeat;
  }
  #our-values > .fixed-width {
    height: 900px;
  }
  #our-values .content-wrap {
    float: right;
  }
  #our-values .img {
    background-image: url("../images/img-ourvalues.png");
    width: 597px;
    height: 676px;
    left: -120px;
    top: 106px;
  }
  #get-in-touch {
    background: url("../images/section-type-one-long.png") center 0 no-repeat;
  }
  #get-in-touch > .fixed-width {
    height: 830px;
    margin-top: 190px;
  }
  #get-in-touch .content-wrap {
    margin: 0;
    width: 450px;
  }
  #get-in-touch #google-map {
    width: 488px;
    height: 488px;
    float: right;
  }
  #careers {
    background: url("../images/section-type-two.png") center 0 no-repeat;
    margin-bottom: 180px;
  }
  #careers > .fixed-width {
    height: 900px;
  }
  #careers .content-wrap {
    float: right;
    width: 740px;
  }
  #careers .img {
    background-image: url("../images/img-careers.png");
    width: 376px;
    height: 843px;
    left: -130px;
    top: 34px;
  }
  #who-we-are {
    background: url("../images/section-type-one.png") center 0 no-repeat;
    height: 900px;
  }
  #who-we-are .fixed-width {
    position: relative;
  }
  #who-we-are .content {
    background: none;
  }
  #who-we-are .content-wrap {
    position: absolute;
    right: 0;
    top: 110px;
  }
  #who-we-are .img {
    left: -113px;
    top: 103px;
    width: 608px;
    height: 686px;
  }
  #who-we-are .btn-prev {
    left: 425px;
    top: 460px;
  }
  #who-we-are .btn-next {
    top: 460px;
    right: -60px;
  }
  .who-we-are .img {
    background-image: url("../images/img-whoweare1.png");
  }
  .our-team {
    visibility: hidden;
    opacity: 0;
  }
  .our-team .img {
    background-image: url("../images/img-whoweare2.png");
  }
}
.primary-nav {
  padding: 0 0.625em 0.3125em;
}
.primary-nav > li {
  font-weight: bold;
  font-size: 0.875em;
}
.primary-nav > li:last-child a {
  border-bottom: none;
}
.primary-nav > li a {
  border-bottom: 1px solid #455667;
  display: block;
  color: #ffffff;
  padding: 0.9375em 0;
}
.primary-nav > li a:before {
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  content: '';
  margin-right: 0.375em;
  width: 8px;
  height: 8px;
  background-color: #e54125;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.primary-nav > li a:hover {
  color: #e54125;
  text-decoration: none;
}
.nav-active:before {
  opacity: 1 !important;
  visibility: visible !important;
}
.nav-toggle-container {
  clear: both;
}
.btn-nav-toggle {
  width: 50px;
  height: 50px;
  background: url("../images/nav-icon.png") no-repeat center center;
  text-indent: -9999px;
  border: none;
  position: absolute;
  top: 0.1875em;
  right: 0;
}
@media only screen and (min-width: 37.5em) {
  .nav-toggle-container {
    display: block !important;
  }
  .btn-nav-toggle {
    display: none !important;
  }
  .primary-nav {
    display: table;
    width: 100%;
    padding: 0;
  }
  .primary-nav li {
    display: table-cell;
  }
  .primary-nav li > a {
    text-align: center;
    border-bottom: none;
  }
}
@media only screen and (min-width: 46.875em) {
  .nav-toggle-container {
    clear: none;
  }
  #nav {
    border-bottom: 1px solid #455667;
    margin: 0 0.625em;
  }
  .primary-nav {
    float: right;
    width: 80%;
  }
}
.intro {
  color: #ffffff;
  background: url("../images/skyline-mobile.jpg") no-repeat 0 0;
  background-size: cover;
  margin-bottom: -3.75em;
  padding-top: 0.625em;
}
.intro hgroup,
.intro p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  margin: 0.625em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.intro hgroup {
  margin-top: 0;
}
.intro:after {
  content: '';
  display: block;
  height: 100px;
  background: url("../images/bg-fade.png") repeat-x 0 0;
}
@media only screen and (min-width: 46.875em) {
  .intro {
    background-image: url("../images/skyline-tablet.jpg");
  }
  .intro hgroup,
  .intro p {
    width: 70%;
    background-color: transparent;
  }
}
@media only screen and (min-width: 78.125em) {
  .intro {
    background-image: none;
    width: 500px;
    margin-top: 80px;
  }
  .intro hgroup,
  .intro p {
    width: 100%;
    padding-left: 0;
  }
  .intro:after {
    content: '';
    display: block;
    height: auto;
    background: none;
  }
}
.btn {
  display: block;
  padding: 0.375em 0.875em;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border: none;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.btn-rounded {
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
  border-radius: 1.25em;
}
.btn-red {
  background-color: #e54125;
  color: #ffffff;
}
.btn-red:hover {
  background-color: #c03017;
}
.btn-blue {
  background-color: #138fe2;
  color: #ffffff;
}
.btn-blue:hover {
  background-color: #0f71b3;
}
.btn-small {
  font-size: 0.875em;
  padding: 0.375em 0.625em;
}
.btn-prev,
.btn-next {
  display: none;
}
@media only screen and (min-width: 78.125em) {
  .btn-prev,
  .btn-next {
    display: block;
    width: 44px;
    height: 44px;
    background-color: #e54125;
    background-repeat: no-repeat;
    background-image: url("../images/arrows.png");
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    text-indent: -9999px;
    z-index: 100;
    position: absolute;
  }
  .btn-prev {
    background-position: 14px 10px;
  }
  .btn-next {
    background-position: 17px -39px;
  }
}
.staff dt {
  font-weight: bold;
}
.staff dd {
  margin-bottom: 0.5em;
  font-size: 0.875em;
}
@media only screen and (min-width: 46.875em) {
  .staff dt {
    float: left;
    margin-right: 0.625em;
    margin-bottom: 0.125em;
    clear: left;
  }
  .staff dd {
    float: left;
    margin-top: 0.125em;
  }
}
@media only screen and (min-width: 78.125em) {
  .staff dd {
    font-size: 1em;
    margin-top: 0;
  }
}
.jobs {
  margin-top: 1.875em;
}
.job {
  margin-bottom: 0.9375em;
  padding-bottom: 0.9375em;
  border-bottom: 1px solid #cdcdcd;
}
.job:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
@media only screen and (min-width: 56.25em) {
  .job {
    float: left;
    width: 46%;
    border-bottom: none;
  }
  .job:nth-child(even) {
    margin-left: 4%;
  }
}
.values-list dt {
  float: left;
  text-transform: uppercase;
}
.values-list dt:after {
  content: '\00a0-\00a0';
  display: inline-block;
}
.values-list dd {
  margin-bottom: 0.9375em;
}
.hdr-terms-main {
  font-size: 1em;
  text-transform: none;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.3125em;
}
.hdr-terms-main > a {
  display: block;
}
.hdr-terms-sub {
  font-size: 1.125em;
  border-bottom: 1px dotted #f1f1f1;
  padding-bottom: 0.3125em;
  font-weight: bold;
}
.term-container {
  padding: 0.625em 0;
  font-size: 0.875em;
  display: none;
}
.term-header > h1 {
  float: left;
}
.term-close {
  font-family: "HelveticaNeueW01-85Heav", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0.625em 0;
  clear: both;
}
.term-loading {
  background: url("../images/ajax-loader.gif") no-repeat center center;
}
.is-term-visible {
  display: block;
}
.term-content ul {
  margin: 1em 0;
  list-style-type: disc;
  margin-left: 1em;
}
.term-content li {
  margin-bottom: 0.3125em;
}
@media only screen and (min-width: 37.5em) {
  .term-close {
    float: right;
    clear: none;
  }
}
@media only screen and (min-width: 78.125em) {
  .term {
    display: inline-block;
    margin-left: 1.5625em;
    position: relative;
  }
  .term-header {
    margin-bottom: 1.5625em;
    border-bottom: 1px solid #5c6c7a;
  }
  .term-header > h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .is-term-visible.term-container {
    position: absolute;
    bottom: 48px;
    right: -78px;
    width: 800px;
    background-color: #162c41;
    padding: 1.25em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 1em;
  }
  .is-term-visible .term-content {
    max-height: 400px;
    overflow: auto;
  }
  .active:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #162C41;
    position: absolute;
    top: -32px;
    left: 25%;
    z-index: 102;
  }
}
.contact-type {
  margin-bottom: 1.25em;
}
.contact-type .type {
  font-weight: bold;
  margin: 0 0 0.1875em 0;
}
.contact-type .value {
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (min-width: 46.875em) {
  #google-map {
    min-height: 500px;
    clear: both;
    border: 1px solid #555555;
  }
}
@media only screen and (min-width: 78.125em) {
  #google-map {
    clear: none;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .site-title > a {
    background-image: url("../images/site-logo@2x.png");
    background-size: 124px 36px;
  }
  .btn-nav-toggle {
    background-image: url("../images/nav-icon@2x.png");
    background-size: 26px 16px;
  }
}
