// Footer
// -----------------------------------------------------------------
.site-footer {
    color: @white;
    background-color: @darkBlue;
    border-top: 3px solid darken(@darkBlue, 5%);
    padding: @px10;

    .copyright {
        margin: 0 0 @px10;
    }

    a {
        color: @offWhite;
    }
}

@media only screen and (min-width: @desktop) {

    .site-footer {
        font-size: @px12;
        padding-bottom: @px5;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 101;

        .fixed-width {
            position: relative;
        }

        .copyright {
            float: left;
        }

        .footer-links {
            float: right;
        }
    }

}
