// Layout
// -----------------------------------------------------------------

.page {
    padding-top: @px60;
}

.mr10 {
    margin-right: @px10;
}

@media only screen and (min-width: @tablet) {

    .page {
        padding-top: (@px60 + @px20);
    }

}

@media only screen and (min-width: @tabletSmall) {

    .page {
        padding-top: (@px60 + @px40);
    }

}

@media only screen and (min-width: @tablet) {

    .page {
        padding-top: (@px60 + @px20);
    }

}

@media only screen and (min-width: @desktop) {

    .fixed-width {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        background: url("@{imgPath}skyline-full.jpg") center bottom no-repeat fixed;
        background-size: contain;
        padding-bottom: 1px;
    }

}

@media only screen and (min-width: 2000px) {

    .container {
        background-size: 80%;
    }

}
